@media (min-width: 300px) and (max-width: 700px) {
    #container {
        flex-direction: column;
    }
    #sideBar, 
    #sideForm{
        width: 100%;
    }

    #figurinha {
        height: 90%;
        width: 80%;
    }
    #form{
        width: auto;
    }

}