#linha {
    display: flex;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.coluna .input {
    width: auto;
}

.coluna:first-of-type{
    margin-right: 10px;
}

#form{
    margin: 19% 13%;
}